<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>Controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUserServ</servlet-name>
        <servlet-class>addRemoveUser.removeUserServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserServ</servlet-name>
        <servlet-class>addRemoveUser.addUserServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayUserServ</servlet-name>
        <servlet-class>addRemoveUser.displayUserServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFromRosterServ</servlet-name>
        <servlet-class>editRoster.removeFromRosterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToRosterServ</servlet-name>
        <servlet-class>editRoster.addToRosterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayRosterUserServ</servlet-name>
        <servlet-class>editRoster.displayRosterUserServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGameServ</servlet-name>
        <servlet-class>editSchedule.addGameServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeGameServ</servlet-name>
        <servlet-class>editSchedule.removeGameServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayScheduleServ</servlet-name>
        <servlet-class>editSchedule.displayScheduleServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeTeamServ</servlet-name>
        <servlet-class>addRemoveTeam.removeTeamServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayTeamsServ</servlet-name>
        <servlet-class>addRemoveTeam.displayTeamsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTeamServ</servlet-name>
        <servlet-class>addRemoveTeam.addTeamServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAnnouncementsServ</servlet-name>
        <servlet-class>playerManagerProfile.getAnnouncementsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUpcomingGamesServ</servlet-name>
        <servlet-class>playerManagerProfile.getUpcomingGamesServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyStatsServ</servlet-name>
        <servlet-class>playerManagerProfile.getMyStatsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayTeamRosterServ</servlet-name>
        <servlet-class>editRoster.displayTeamRosterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGoalServ</servlet-name>
        <servlet-class>addRemoveStats.addGoalServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeGoalServ</servlet-name>
        <servlet-class>addRemoveStats.removeGoalServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeGameResultServ</servlet-name>
        <servlet-class>addRemoveStats.removeGameResultServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayStatsServ</servlet-name>
        <servlet-class>addRemoveStats.displayStatsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editResultServ</servlet-name>
        <servlet-class>editStats.editResultServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>announcementsServ</servlet-name>
        <servlet-class>playerManagerProfile.announcementsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>announcements</servlet-name>
        <servlet-class>playerManagerProfile.announcements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAdminAnnouncementsServ</servlet-name>
        <servlet-class>playerManagerProfile.getAdminAnnouncementsServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayFinalScoreServ</servlet-name>
        <servlet-class>addRemoveStats.displayFinalScoreServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeButtonServlet</servlet-name>
        <servlet-class>homeButton.homeButtonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayGameStatusServ</servlet-name>
        <servlet-class>addRemoveStats.displayGameStatusServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitFinalResultServ</servlet-name>
        <servlet-class>addRemoveStats.submitFinalResultServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUserServ</servlet-name>
        <url-pattern>/removeUserServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserServ</servlet-name>
        <url-pattern>/addUserServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayUserServ</servlet-name>
        <url-pattern>/displayUserServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromRosterServ</servlet-name>
        <url-pattern>/removeFromRosterServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToRosterServ</servlet-name>
        <url-pattern>/addToRosterServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayRosterUserServ</servlet-name>
        <url-pattern>/displayRosterUserServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGameServ</servlet-name>
        <url-pattern>/addGameServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeGameServ</servlet-name>
        <url-pattern>/removeGameServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayScheduleServ</servlet-name>
        <url-pattern>/displayScheduleServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeTeamServ</servlet-name>
        <url-pattern>/removeTeamServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayTeamsServ</servlet-name>
        <url-pattern>/displayTeamsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTeamServ</servlet-name>
        <url-pattern>/addTeamServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAnnouncementsServ</servlet-name>
        <url-pattern>/getAnnouncementsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUpcomingGamesServ</servlet-name>
        <url-pattern>/getUpcomingGamesServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyStatsServ</servlet-name>
        <url-pattern>/getMyStatsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayTeamRosterServ</servlet-name>
        <url-pattern>/displayTeamRosterServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGoalServ</servlet-name>
        <url-pattern>/addGoalServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeGameResultServ</servlet-name>
        <url-pattern>/removeGameResultServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeGoalServ</servlet-name>
        <url-pattern>/removeGoalServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editResultServ</servlet-name>
        <url-pattern>/editResultServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>announcementsServ</servlet-name>
        <url-pattern>/announcementsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>announcements</servlet-name>
        <url-pattern>/announcements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAdminAnnouncementsServ</servlet-name>
        <url-pattern>/getAdminAnnouncementsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayStatsServ</servlet-name>
        <url-pattern>/displayStatsServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayFinalScoreServ</servlet-name>
        <url-pattern>/displayFinalScoreServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeButtonServlet</servlet-name>
        <url-pattern>/homeButtonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayGameStatusServ</servlet-name>
        <url-pattern>/displayGameStatusServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitFinalResultServ</servlet-name>
        <url-pattern>/submitFinalResultServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
